/* GLOBAL STYLEs */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500;600&display=swap');
:root{
    --primary-color: #0B55F4;
    --second-color: #001DC0;
    --secondary-color:#F4AA0B;
    --black: #000000;
    --grey: #646666;
    --bg-color: #F6F8F8;
    --white: #ffffff;
    --nav-text-color:#131515;
    --input-border-color:#8C8E8E;
    --line-color:#ACAEAE;
    --footer-color:#131515;
    --heading-font:'Montserrat', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.all-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
}

body .main-page{
    background-color:var(--bg-color);
    font-family: 'Open Sans', sans-serif;
}

.first-section{
    background-image: linear-gradient( rgba(0, 29, 192, 0.25),rgba(0, 29, 192, 0.25)), url(../images/unsplash_8ldqRkOk5oo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10rem;
    color:var(--white);
}

.first-text h1{
    font-family: var(--heading-font);
    color: #F3870A;
    font-size: 3rem;
    max-width: 600px;

}
.first-text p{
    font-size: 20px;
    max-width: 600px;
}
.second-section-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
    
}
.second-section-container p{
    max-width: 800px;
}
.second-section-container h2{
    font-family: var(--heading-font);
    font-size: 2rem;
}
.second-section-container img{
    width: 100%;
}

.donation-selection{
    margin: 0 auto;
}
.cash-button{
    background-color: var(--primary-color);
    color: var(--white);
    font-family: var(--heading-font);
    font-size: 1.2rem;
    border: none;
    margin-right: 10px;
}
.material-button{
    background-color: var(--bg-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-family: var(--heading-font);
    font-size: 1.2rem;
}

.donation-selection a:active{
    background-color: #0B55F4;}
.donation-selection button{
    padding: 10px 100px;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    display: inline-block;

}
.donation-panel{
    max-width: 60%;
    margin: 0 auto;
    padding: 4rem;
}
form{
    display: grid;
    gap: 0.5rem;
    margin-top: 1rem;
}
form label,input{
    display: block;
}
form label{
    font-weight: 500;
}
form input{
    width: 100%;
    padding: 8px 12px;
    border: 1px solid var(--black);
    border-radius: 8px;
    background-color: var(--bg-color);
}
  input [type="radio"]:checked{
        border: none;
        outline:2px solid #0B55F4;
    
    }
    select{
        font-size: 0.9rem;
        padding: 2px 5px;
   
}
.name, .email, .amount, .country,.zip-codes{
    display: grid;
    gap: 5px;
    margin-bottom: 18px;
}

.country-inputs{
  padding: 5px 0px;
}

.name-inputs, .country-inputs,
.country-code{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    background-color: var(--bg-color);
}

.radio-input input{
    width: 1rem;
}
.radio-button{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.radio-input{
    display: flex;
    gap: 2px;
}

input[type="radio"]  {
    appearance: none;
    border: 1px solid var(--primary-color);
    width: 1rem;
    height: 1rem;
}

input[type="radio"]:checked {
    background: var(--primary-color);
} 

/*==Modal box styling==*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

/* Modal Content/Box */
.modal-content {
  background-color: #F8F8F8;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%;
  background-color: var(--bg-color);
  
}
 
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*styling the donate button*/
.donate{
    color: white;
    background-color:var(--primary-color);
    border-radius: 10px;
    /* width: 10px; */
    /* margin: auto; */
    border: none;
    font-weight: bold;
    cursor: pointer;
}


/*==Modal box styling ends==*/

@media(max-width:1129px){
    .donation-panel{
        max-width: 70%;
    }
    
}

@media(max-width:975px){
    .donation-panel{
        max-width: 80%;
    }
    
}

@media(max-width:857px){
    .donation-panel{
        max-width: 90%;
    }
    .second-section-container{
        display: block;
        text-align: center;
        display: grid;
    }
  
  
    
}

@media(max-width:767px){
    .donation-panel{
        max-width: 95%;
    }
    
.second-section-container p{
    max-width: 1000px;
}
    
}

@media(max-width:745px){
    .first-section{
        padding: 5rem;
    }
    .first-text p{
        max-width: 700px;

    }
    .first-text h1{
        max-width: 700px;

    }
 

}

@media(max-width:729px){
    .donation-panel{
        max-width: 99%;
        padding: 1rem;
    }
    .first-text p{
        max-width: 700px;

    }
    .first-text h1{
        max-width: 700px;

    }
 

}

@media(max-width:428px){
    .first-section{
        padding: 3rem;
    }

    .donate{
      background-color: var(--primary-color);
      /* width: 4rem; */
      height: 2rem;
      color: white;
      /* font-weight: bold; */
      cursor: pointer;
      border-radius: 6px;
      border: none;
      text-align: center;
    }
    
.name-inputs, .country-inputs,
.country-code{
    display: block;
}
.donation-selection button{
    padding: 6px 50px;
    display: flex;
}
.donation-panel{
    padding: 1rem;
}

}
/*====Footer css====*/
/*====Footer css====*/
/*====Footer css====*/
:root {
  --footer-bg: #001dc0;
  --footer-btn: #f4aa0b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  min-height: 40vh;
  width: 100%;
  background-color: var(--footer-bg);
}
p{
  font-family: 'Open Sans',sans-serif;
}

  .footer-topic{
    font-family: 'Montserrat', sans-serif;
    font-weight:none;
    font-size:20px;
    color:#F6F8F8;

}


.joy-general {
  color: white;
  padding: 1rem 3rem;
  height: 100%;
}

.joy-center-div {
  display: none;
}
/* =====START-JOY NEWSLETTER==== */
.JOY-NEWSLETTER-GROUP {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.JOY-NEWSLETTER-GROUP-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.JOY-NEWSLETTER {
  margin-top:22px;
  display: flex;
  justify-content: space-between;
}
/* ===END===== */

.H3-JOY {
  margin: 1rem 0;
}
.footer-topic{
  font-size:18px;
}
.joy-h3-1 {
  padding-bottom: 1rem;
}
/* ====START==JOY-QUICK-LINKS=== */
.JOY-QUICK-LINKS{
  margin-right:17%;
}
.JOY-QUICK-LINKS {
  display: flex;
  flex-direction: column;
}

.JOY-QUICK-LINKS a {
  color: white;
  text-decoration: none;
  margin-bottom: 0.7rem;
}
/* ===END======== */

.JOY-FOLLOW-US{
  margin-right:5%;
}

.footer-hidden {
  display: none;
}

.joy-icons {
  display: flex;
  margin-bottom: 0.7rem;
}

.joy-icon-p {
  margin-left: 0.6rem;
}

#footer-email {
  width: 13rem;
  height: 2rem;
  padding: 0.7rem;
  background: var(--footer-bg);
  color:#F6F8F880;
  border: 1px solid white;
  border-radius: 3px;
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#F6F8F880;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color:#F6F8F880;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color:#F6F8F880 ;
}

.footer-btn {
  width: 5.6rem;
  height: 2rem;
  background-color: var(--footer-btn);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  /* outline-color: white; */
}



.footer-topic {
  padding-bottom: 1rem;
}

.JOY-CROWD {
  text-align: center;
  padding-top: 2rem;
}

/* =======TABLET=VIEW====== */

@media (max-width: 768px) {
  .JOY-NEWSLETTER-GROUP-1 {
    display: none;
  }

  .joy-center-div {
    display: block;
    visibility: visible;
  }
}
/* ======END==== */

/* ===MOBILE==VIEW==== */
@media (max-width: 428px) {
  .JOY-NEWSLETTER {
    display: flex;
    flex-direction: column;
  } 
  .JOY-NEWSLETTER-GROUP{
    margin-top: 10%;
  }
  .JOY-NEWSLETTER {
    padding: 1rem;
  }
  .H3-JOY{
    font-size: 16px;
    padding-left:1rem;
  }
   .footer-topic{
      font-size:20px;
  }
  
  .JOY-NEWSLETTER-GROUP-1,
  .JOY-QUICK-LINKS,
  .JOY-CONTACT-US{
      margin-bottom: 10%;
  }
  .JOY-CROWD{
    margin-bottom: 20%;
}

.fa-brands {
  width:5%;
}
  .joy-general {
    padding: 1rem 0;
    
  }
input{
  color:#F6F8F880;

}
}
 

/*.donation{
    display: flex;
justify-content: center;
   align-items: center;
   width: 342px;
   height: 49px;
   margin: auto;
padding: 10px;


   
}

.donation a {
    text-decoration: none;
    border: 1.5px solid;
    border-color: #0B55F4;
    padding: 5px 102px;
    border-radius: 2px;
}

.cash a{
    color: #F8F8F8;
    background-color: #0B55F4;
}

.material a:active {
color: #F8F8F8;
background-color: #0B55F4;
}

*/
